@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

body {
  background-image: url("../images/knittingDetail.png");
  font-family: 'Calligraffitti', cursive;
  font-weight: bold;
  font-size: 1.25em;
}

button {
  -webkit-appearance: none;
  font-family: 'Calligraffitti', cursive;
  font-weight: bold;
  font-size: 1em;
}
.flex, #container {
  border: 1px solid #905060;
}
table {
    border-collapse: collapse;
}
img {
  display: block;
}
tr, td {
    padding: 0;
    margin: 0;
    border: none;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  }

/*#listWrapper {
  display: -moz-inline-stack;
  display: -webkit-inline-stack;
  display: inline-block;
}*/

div {
  background-color: #ffddee;
  opacity: 0.9;
}
div #main {
  background-color: #ffddff;
  opacity: 1;
}
div #pattern {
  background-color: #ffeeff;
  opacity: 1;
}
#pattern {
  justify-content: center;
}
#stitchButtons, #stitchTable, #patternButtons1 {
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

#patternButtons2, #newName {
    border: none;
}
